# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

/**        export-ignore
/addons/test  export-ignore

# Only include the addons folder when downloading from the Asset Library.
/addons    !export-ignore
/addons/** !export-ignore
